In [6]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('C:\\Users\\Abhigyan\\Downloads\\reunion\\Problem 1\\ecommerce.db')

In [7]:
cursor = conn.cursor()
cursor.execute('''
    SELECT Customers.customer_id, Customers.name, AVG(Orders.total_amount) AS average_order_amount
    FROM Customers
    JOIN Orders ON Customers.customer_id = Orders.customer_id
    WHERE Orders.order_date >= DATE('now', '-6 months')
    GROUP BY Customers.customer_id, Customers.name
    ORDER BY average_order_amount DESC
    LIMIT 5;
    ''')

query = cursor.fetchall()
print(query)

[(10, 'Lacey Taylor', 568.4499999999999), (8, 'Caroline Howard', 548.9245454545454), (7, 'Jessica Rios', 543.5177777777777), (2, 'Dwayne Bell', 513.12625), (3, 'Alexandria Mccann', 491.2071428571429)]

In [8]:
cursor = conn.cursor()
cursor.execute('''
    SELECT Customers.customer_id, Customers.name
    FROM Customers
    JOIN Orders ON Customers.customer_id = Orders.customer_id
    WHERE strftime('%Y', Orders.order_date) = strftime('%Y', 'now')
    AND Orders.total_amount < (
        SELECT SUM(total_amount)
        FROM Orders
        WHERE strftime('%Y', order_date) = strftime('%Y', 'now', '-1 year')
        AND Customers.customer_id = Orders.customer_id
    );
    ''')

query = cursor.fetchall()
print(query)

[(10, 'Lacey Taylor'), (2, 'Dwayne Bell'), (6, 'Lynn Barnett'), (1, 'Beth Roberts'), (5, 'Anthony Bowen'), (4, 'Mrs. Sally Bond'), (8, 'Caroline Howard'), (9, 'Heather Gallegos'), (5, 'Anthony Bowen'), (9, 'Heather Gallegos'), (7, 'Jessica Rios'), (9, 'Heather Gallegos'), (8, 'Caroline Howard'), (10, 'Lacey Taylor'), (1, 'Beth Roberts'), (8, 'Caroline Howard'), (7, 'Jessica Rios'), (10, 'Lacey Taylor'), (3, 'Alexandria Mccann'), (2, 'Dwayne Bell'), (5, 'Anthony Bowen'), (3, 'Alexandria Mccann'), (4, 'Mrs. Sally Bond'), (4, 'Mrs. Sally Bond'), (4, 'Mrs. Sally Bond'), (7, 'Jessica Rios'), (3, 'Alexandria Mccann'), (3, 'Alexandria Mccann'), (8, 'Caroline Howard'), (7, 'Jessica Rios'), (9, 'Heather Gallegos'), (6, 'Lynn Barnett'), (8, 'Caroline Howard'), (7, 'Jessica Rios'), (3, 'Alexandria Mccann'), (8, 'Caroline Howard'), (6, 'Lynn Barnett'), (8, 'Caroline Howard'), (9, 'Heather Gallegos'), (5, 'Anthony Bowen'), (1, 'Beth Roberts'), (5, 'Anthony Bowen'), (7, 'Jessica Rios'), (8, 'Caroline Howard'), (4, 'Mrs. Sally Bond'), (8, 'Caroline Howard'), (6, 'Lynn Barnett'), (5, 'Anthony Bowen'), (7, 'Jessica Rios'), (5, 'Anthony Bowen'), (3, 'Alexandria Mccann'), (2, 'Dwayne Bell'), (2, 'Dwayne Bell'), (2, 'Dwayne Bell'), (8, 'Caroline Howard'), (10, 'Lacey Taylor'), (1, 'Beth Roberts'), (2, 'Dwayne Bell'), (6, 'Lynn Barnett'), (2, 'Dwayne Bell'), (3, 'Alexandria Mccann'), (6, 'Lynn Barnett'), (4, 'Mrs. Sally Bond'), (9, 'Heather Gallegos'), (9, 'Heather Gallegos'), (10, 'Lacey Taylor'), (1, 'Beth Roberts'), (7, 'Jessica Rios')]

In [9]:
# 3. Create a table showing cumulative purchase by a particular customer

cursor = conn.cursor()
cursor.execute('''
    CREATE TABLE CumulativePurchase AS
    SELECT Orders.order_id, Orders.customer_id, Orders.order_date, SUM(Orders.total_amount) OVER (PARTITION BY Orders.customer_id ORDER BY Orders.order_date) AS cumulative_purchase
    FROM Orders;
    ''')

cursor.execute("SELECT * FROM CumulativePurchase;")
query = cursor.fetchall()
print(query)

[(126, 1, '2022-07-19', 777.09), (89, 1, '2022-08-14', 1562.38), (233, 1, '2022-10-22', 2317.58), (64, 1, '2022-11-06', 2536.98), (82, 1, '2022-11-13', 3511.08), (270, 1, '2022-11-25', 3737.65), (113, 1, '2023-01-08', 3902.32), (50, 1, '2023-01-17', 4011.75), (255, 1, '2023-02-12', 4732.71), (286, 1, '2023-02-12', 4732.71), (3, 1, '2023-06-29', 4811.16), (36, 1, '2023-07-30', 4858.86), (14, 1, '2023-08-17', 5787.75), (217, 1, '2023-08-17', 5787.75), (56, 1, '2023-08-26', 6229.56), (169, 1, '2023-09-12', 7186.9800000000005), (199, 1, '2023-10-22', 7824.290000000001), (57, 1, '2023-11-06', 8655.92), (129, 1, '2023-11-23', 9390.61), (247, 1, '2023-12-19', 10263.75), (71, 1, '2023-12-22', 10738.32), (238, 1, '2023-12-22', 10738.32), (295, 1, '2024-01-09', 10975.0), (183, 1, '2024-01-18', 11965.88), (27, 1, '2024-02-14', 12567.82), (69, 1, '2024-04-14', 12664.94), (268, 1, '2024-04-28', 12738.050000000001), (212, 2, '2022-07-27', 154.36), (162, 2, '2022-08-14', 301.39), (108, 2, '2022-09-22', 1016.1899999999999), (138, 2, '2022-10-06', 1352.9099999999999), (177, 2, '2022-11-15', 1781.06), (77, 2, '2022-11-19', 2286.16), (94, 2, '2022-12-24', 2845.3599999999997), (18, 2, '2023-03-13', 3833.45), (258, 2, '2023-03-29', 4698.8099999999995), (263, 2, '2023-04-12', 5195.049999999999), (250, 2, '2023-05-27', 5920.959999999999), (6, 2, '2023-06-04', 6873.209999999999), (95, 2, '2023-07-03', 7066.859999999999), (68, 2, '2023-07-07', 7678.279999999999), (109, 2, '2023-07-12', 8652.519999999999), (107, 2, '2023-08-12', 8777.699999999999), (16, 2, '2023-10-23', 8807.82), (213, 2, '2023-11-20', 8934.539999999999), (152, 2, '2023-11-22', 9726.179999999998), (264, 2, '2023-12-01', 9869.769999999999), (96, 2, '2023-12-13', 10598.429999999998), (239, 2, '2024-01-30', 10863.47), (281, 2, '2024-02-20', 11524.57), (20, 2, '2024-03-04', 11763.34), (269, 2, '2024-03-21', 12620.69), (227, 2, '2024-04-18', 12657.1), (90, 2, '2024-05-16', 13062.92), (243, 2, '2024-05-18', 13974.78), (276, 3, '2022-06-15', 780.38), (170, 3, '2022-07-31', 1281.12), (197, 3, '2022-09-03', 1486.54), (249, 3, '2022-09-23', 2387.02), (171, 3, '2022-11-18', 3097.64), (158, 3, '2022-11-23', 3516.54), (284, 3, '2022-11-30', 4466.6), (192, 3, '2022-12-07', 5298.110000000001), (297, 3, '2023-01-02', 6252.160000000001), (101, 3, '2023-02-20', 7021.710000000001), (272, 3, '2023-02-26', 7251.380000000001), (106, 3, '2023-02-27', 7656.300000000001), (273, 3, '2023-04-21', 8403.68), (142, 3, '2023-06-08', 8924.43), (17, 3, '2023-08-06', 9411.67), (283, 3, '2023-08-13', 9999.46), (237, 3, '2023-08-16', 10390.65), (59, 3, '2023-09-01', 10850.109999999999), (252, 3, '2023-09-11', 11465.109999999999), (13, 3, '2023-09-13', 12174.14), (11, 3, '2023-10-20', 13265.009999999998), (174, 3, '2023-10-20', 13265.009999999998), (67, 3, '2023-10-23', 13930.21), (49, 3, '2023-11-19', 14193.57), (133, 3, '2023-12-01', 15038.5), (282, 3, '2024-01-20', 15755.25), (146, 3, '2024-01-29', 16700.13), (87, 3, '2024-02-09', 17380.68), (119, 3, '2024-03-02', 17598.49), (215, 3, '2024-04-14', 17837.16), (98, 3, '2024-05-13', 18319.51), (117, 3, '2024-05-26', 18476.949999999997), (175, 4, '2022-07-04', 366.92), (165, 4, '2022-07-16', 861.26), (223, 4, '2022-07-25', 1152.17), (38, 4, '2022-11-08', 1942.43), (25, 4, '2022-11-27', 2534.61), (157, 4, '2022-12-18', 3493.34), (139, 4, '2022-12-23', 4424.47), (293, 4, '2023-01-16', 5294.14), (193, 4, '2023-03-09', 5470.8), (19, 4, '2023-04-30', 5726.12), (232, 4, '2023-05-09', 5834.75), (228, 4, '2023-05-16', 6445.71), (46, 4, '2023-05-24', 7102.33), (24, 4, '2023-06-05', 7719.98), (211, 4, '2023-06-13', 8094.33), (230, 4, '2023-06-15', 8307.7), (124, 4, '2023-08-15', 8961.820000000002), (132, 4, '2023-08-21', 9749.250000000002), (41, 4, '2023-10-19', 10380.700000000003), (151, 4, '2023-12-14', 10632.840000000002), (88, 4, '2023-12-19', 11333.940000000002), (110, 4, '2024-01-19', 11456.500000000002), (287, 4, '2024-02-17', 11682.390000000001), (195, 4, '2024-02-22', 12314.150000000001), (105, 4, '2024-05-02', 12598.600000000002), (30, 4, '2024-05-15', 12851.990000000002), (103, 4, '2024-06-04', 13093.780000000002), (118, 5, '2022-06-18', 213.94), (214, 5, '2022-06-27', 984.6300000000001), (92, 5, '2022-07-12', 1651.6100000000001), (166, 5, '2022-07-25', 1707.0800000000002), (100, 5, '2022-08-21', 2393.71), (172, 5, '2022-09-01', 2856.51), (65, 5, '2022-09-11', 3842.9800000000005), (53, 5, '2022-10-04', 4403.9800000000005), (116, 5, '2022-10-07', 5212.240000000001), (210, 5, '2022-10-28', 5623.290000000001), (5, 5, '2022-11-01', 6530.360000000001), (161, 5, '2022-11-26', 7055.800000000001), (279, 5, '2022-11-30', 7888.290000000001), (72, 5, '2023-01-11', 8776.570000000002), (147, 5, '2023-01-21', 9499.750000000002), (81, 5, '2023-02-02', 10102.010000000002), (179, 5, '2023-02-08', 10886.620000000003), (160, 5, '2023-03-20', 11255.700000000003), (44, 5, '2023-07-02', 11832.940000000002), (251, 5, '2023-07-26', 12421.330000000002), (12, 5, '2023-09-19', 12435.890000000001), (47, 5, '2023-10-17', 13157.44), (271, 5, '2023-10-22', 13795.26), (242, 5, '2023-10-26', 14460.9), (51, 5, '2023-11-10', 14878.34), (189, 5, '2023-11-20', 15098.98), (244, 5, '2023-12-25', 15312.9), (29, 5, '2024-01-10', 16107.64), (42, 5, '2024-01-14', 16778.23), (180, 5, '2024-02-22', 16823.329999999998), (91, 5, '2024-03-27', 17497.8), (203, 5, '2024-05-15', 17629.46), (209, 5, '2024-05-16', 18084.27), (184, 5, '2024-05-27', 18413.600000000002), (28, 6, '2022-06-19', 545.58), (114, 6, '2022-06-25', 655.5600000000001), (241, 6, '2022-07-06', 1582.0700000000002), (35, 6, '2022-09-04', 1887.2700000000002), (198, 6, '2022-11-18', 2405.3700000000003), (280, 6, '2022-11-29', 2740.32), (40, 6, '2022-12-05', 3245.8100000000004), (33, 6, '2022-12-28', 4042.8), (186, 6, '2023-01-19', 4089.3100000000004), (205, 6, '2023-02-16', 4168.29), (122, 6, '2023-02-27', 4878.72), (78, 6, '2023-03-17', 5127.42), (112, 6, '2023-04-16', 5994.68), (97, 6, '2023-04-21', 6190.29), (80, 6, '2023-04-26', 6959.2), (62, 6, '2023-05-16', 7605.19), (31, 6, '2023-06-17', 8341.609999999999), (265, 6, '2023-07-04', 9059.32), (45, 6, '2023-07-07', 9566.789999999999), (70, 6, '2023-07-13', 9892.369999999999), (176, 6, '2023-08-28', 10002.189999999999), (299, 6, '2023-09-06', 10939.359999999999), (208, 6, '2023-09-22', 11345.619999999999), (236, 6, '2023-09-24', 12006.46), (216, 6, '2023-11-26', 12927.429999999998), (156, 6, '2024-03-01', 13233.96), (285, 6, '2024-03-04', 13716.259999999998), (202, 6, '2024-03-24', 13820.529999999999), (21, 6, '2024-05-02', 14025.21), (131, 6, '2024-05-25', 14554.46), (278, 6, '2024-06-04', 14828.919999999998), (136, 7, '2022-07-30', 831.52), (277, 7, '2022-08-22', 1693.48), (300, 7, '2022-09-25', 2016.64), (163, 7, '2022-10-03', 2277.3900000000003), (145, 7, '2022-10-28', 3226.3500000000004), (130, 7, '2022-12-06', 3735.3900000000003), (150, 7, '2022-12-12', 3914.8300000000004), (104, 7, '2022-12-20', 4027.0800000000004), (149, 7, '2022-12-25', 4483.35), (201, 7, '2023-01-05', 4529.450000000001), (221, 7, '2023-01-17', 4558.160000000001), (26, 7, '2023-01-31', 4600.750000000001), (7, 7, '2023-02-03', 4907.1900000000005), (173, 7, '2023-02-10', 5265.88), (181, 7, '2023-03-24', 5347.5), (261, 7, '2023-06-09', 6040.22), (148, 7, '2023-06-17', 6198.72), (55, 7, '2023-06-26', 7118.12), (240, 7, '2023-07-09', 7326.349999999999), (275, 7, '2023-08-14', 7723.419999999999), (194, 7, '2023-08-25', 8197.339999999998), (256, 7, '2023-09-08', 8260.299999999997), (127, 7, '2023-09-12', 9223.259999999998), (32, 7, '2023-10-07', 9874.05), (93, 7, '2023-12-17', 10162.859999999999), (296, 7, '2024-01-12', 11044.669999999998), (144, 7, '2024-01-21', 11380.899999999998), (74, 7, '2024-02-09', 11856.609999999997), (188, 7, '2024-02-12', 12145.159999999996), (52, 7, '2024-02-16', 12547.069999999996), (207, 7, '2024-02-19', 12869.439999999997), (123, 7, '2024-02-20', 13832.159999999996), (111, 7, '2024-02-28', 14765.709999999995), (164, 8, '2022-08-01', 688.24), (135, 8, '2022-08-19', 1046.18), (182, 8, '2022-09-29', 1726.5100000000002), (23, 8, '2022-10-14', 2481.1600000000003), (224, 8, '2022-11-06', 3289.07), (253, 8, '2022-12-05', 3865.57), (246, 8, '2023-01-27', 4359.31), (219, 8, '2023-02-08', 4874.02), (222, 8, '2023-04-24', 5548.610000000001), (204, 8, '2023-04-26', 5697.280000000001), (34, 8, '2023-05-01', 5795.280000000001), (178, 8, '2023-05-08', 6693.02), (220, 8, '2023-05-25', 7630.13), (196, 8, '2023-06-17', 8570.47), (206, 8, '2023-06-27', 8991.359999999999), (153, 8, '2023-07-22', 9192.449999999999), (115, 8, '2023-07-25', 9425.89), (15, 8, '2023-09-26', 10136.48), (291, 8, '2023-09-30', 10229.74), (298, 8, '2023-11-03', 10859.83), (231, 8, '2023-12-17', 11807.5), (248, 8, '2024-01-13', 12144.42), (37, 8, '2024-02-26', 12408.74), (120, 8, '2024-03-18', 13389.029999999999), (73, 8, '2024-03-25', 13641.009999999998), (154, 8, '2024-04-03', 14162.71), (141, 8, '2024-04-30', 14412.869999999999), (58, 8, '2024-05-18', 15296.939999999999), (159, 8, '2024-06-01', 15856.72), (200, 8, '2024-06-02', 16846.51), (191, 8, '2024-06-05', 16898.0), (99, 9, '2022-08-03', 282.52), (143, 9, '2022-08-12', 1236.3), (75, 9, '2022-08-29', 2007.11), (267, 9, '2022-10-06', 2534.42), (187, 9, '2022-10-26', 2976.01), (63, 9, '2022-10-27', 3451.63), (137, 9, '2022-11-01', 4126.9), (60, 9, '2022-12-02', 4623.179999999999), (260, 9, '2022-12-15', 5244.169999999999), (43, 9, '2023-01-03', 5453.969999999999), (259, 9, '2023-03-12', 6032.959999999999), (140, 9, '2023-03-20', 6698.839999999999), (190, 9, '2023-04-04', 7196.329999999999), (86, 9, '2023-04-08', 7450.249999999999), (2, 9, '2023-04-22', 8065.759999999999), (125, 9, '2023-05-02', 8320.57), (266, 9, '2023-05-12', 8711.22), (134, 9, '2023-06-26', 8871.64), (155, 9, '2023-06-27', 9104.18), (79, 9, '2023-07-21', 9821.12), (10, 9, '2023-08-07', 10502.710000000001), (245, 9, '2023-08-08', 10936.400000000001), (168, 9, '2023-08-28', 11610.520000000002), (218, 9, '2023-10-09', 12230.710000000003), (225, 9, '2023-11-09', 12455.290000000003), (22, 9, '2023-11-10', 12523.760000000002), (121, 9, '2023-12-12', 12885.910000000002), (4, 9, '2023-12-18', 13539.120000000003), (48, 9, '2024-01-13', 13769.170000000002), (54, 9, '2024-03-06', 13868.140000000001), (39, 9, '2024-03-20', 14451.27), (128, 9, '2024-03-29', 14720.17), (289, 9, '2024-04-09', 14761.57), (167, 9, '2024-05-11', 15682.43), (290, 9, '2024-05-28', 16065.28), (235, 10, '2022-06-07', 916.65), (294, 10, '2022-07-21', 1355.82), (229, 10, '2022-07-22', 1951.79), (274, 10, '2022-09-30', 2409.69), (288, 10, '2022-10-12', 2886.5), (83, 10, '2022-10-13', 3458.39), (85, 10, '2022-12-28', 4317.93), (9, 10, '2023-01-31', 4555.64), (185, 10, '2023-02-24', 4999.370000000001), (8, 10, '2023-04-07', 5208.150000000001), (234, 10, '2023-07-17', 5497.93), (66, 10, '2023-08-04', 6017.51), (254, 10, '2023-09-06', 6865.21), (262, 10, '2023-11-07', 7444.23), (226, 10, '2023-11-08', 8377.58), (84, 10, '2023-11-27', 8857.59), (102, 10, '2023-12-11', 9211.44), (292, 10, '2024-03-02', 9237.53), (257, 10, '2024-03-26', 9738.980000000001), (61, 10, '2024-04-02', 10734.400000000001), (1, 10, '2024-04-29', 11453.740000000002), (76, 10, '2024-05-22', 12268.29)]

In [10]:
# 4. Retrieve the list of top 5 selling products. Further bifurcate the sales by product variants

cursor = conn.cursor()
cursor.execute('''
    SELECT Products.name, SUM(OrderItems.quantity) AS total_quantity
    FROM Products
    JOIN OrderItems ON Products.product_id = OrderItems.product_id
    GROUP BY Products.name
    ORDER BY total_quantity DESC
    LIMIT 5;
    ''')

query = cursor.fetchall()
print(query)

[('MacBook', 685), ('iPhone', 579), ('Apple TV', 382), ('Beats', 372), ('iPod', 368)]

In [11]:
conn.close()